.brandNavContainer {
    .logo {
        background-image: url('../public/images/logo-inverted.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 20px;
        width: 200px;
        margin: 20px 50px;
    }
}