.homepageContainer {
    width: 100vw;
    height: calc(100vh - 50px);
    min-height: 900px;
    background: url('../public/images/homepage-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;


    .leftContainer {
        display: flex;
        align-items: center;
        padding: 0 100px;

        .logo {
            background-image: url('../public/images/logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            height: 200px;
            width: 500px;
        }

        p {
            color: white;
        }
    }
    
}