// Colors
$theme-light-grey: #F3F3F3;
$theme-dark-grey: #252526;
$theme-red: #DF5C5C;
$theme-green: #60C6B0;

// Breakpoints
$min-screen-sm: 319px;
$max-screen-xs: 320px;

$min-screen-md: 767px;
$max-screen-md: 768px;

$min-screen-lg: 1199px;
$max-screen-lg: 1200px;